<div class="banner container-fluid bg-secondary m-0 p-1">
	<a href="{{ path('app_home') }}">
		<img class="d-inline-block align-middle" src="{{ asset('/Pictures/logo.PNG') }}" width="140" alt="logo EasyFit"/>
	</a>
	<div>
		Build your body !
	</div>
</div>
