<footer class="bg-light fixed-bottom text-center">
            &copy; 2020-2022 EasyFit<br/>
            <small>- Build your body -<br/>
                <a href="#" class="m-0">Politique de confidentialité </a>.<a href="#" class="m-0"> Mentions légales</a>
            </small>
</footer>