<form method="post" action="{{ path('suppression', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Delete</button>
</form>
