  

body {
    font-family: HeadingProDouble-Regular,sans-serif;
    background-color:white;
}

.table {
    font-size: .8em ;
    text-align: left;
    vertical-align: middle;
    }

.banner {
    color : white;
    font-size: 22px;
    font-family: 'Allerta Stencil';
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 100%;
}

.wrapper {
    border-radius: 30px;
    background-color: rgba(236, 119, 0, 1);
    color : white;
    margin: 1em auto;
    max-width: 600px;
    width: 95%;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

/* Le sous-titre et les renseignements de l'utilisateur connecté disparaissent pour écrans <lg  */
@media screen and (max-width:768px) {
    .roleDisplay{
      display: none;
    }
  }
  
/* font-size des tableaux réduite pour écrans <sm et <xs  */
@media screen and (max-width:992px) {
    .tableDisplay{
      font-size: 0.7rem;
    }
  }

@media screen and (max-width:576px) {
    body{
      font-size: 0.6rem;
    }
  } 

/* permet de scroller les tableaux sur mobile */
@media only screen and (max-width: 768px) {
  #unseen table td:nth-child(2), 
  #unseen table th:nth-child(2) {display: none;}
}

