<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EasyFitAdmin{% endblock %}</title>

        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>

    <body>
        {% include "partials/_banner.html.twig" %}
{# TODO à inserer dans la première page        {% include "partials/_navbar.html.twig" %} #}
        {% block body %}{% endblock %}
        {% include "partials/_footer.html.twig" %}
    </body>
</html>
